# Used dynamic ip for mssql so the port may change, make sure to update it if you have connection issues
# Also i have created user admin with password 1234, you can change it if you want but make sure to update the .env file accordingly
# Also you need to enable TCP/IP connections in SQL Server Configuration Manager and allow the port in Windows Firewall for the connection to work
# SELECT SERVERPROPERTY('IsIntegratedSecurityOnly'); should be set to 0 for SQL Server Authentication to work, if it's 1 then you need to use Windows Authentication and leave DB_USER and DB_PASSWORD empty in the .env file
# How to make it 0?
#
# In SSMS:

# Right-click server
# Properties
# Security
# Choose SQL Server and Windows Authentication mode
# Restart Microsoft SQL Server
# Server restart command for mssql: Restart-Service MSSQL`$SQLEXPRESS
# ALTER LOGIN admin ENABLE;
# Reset your admin login (safe)
# GO
# ALTER LOGIN admin WITH PASSWORD = '1234';
# GO
DB_HOST=localhost
DB_PORT=53473
DB_NAME=hotel_management
DB_USER=admin
DB_PASSWORD=1234